@import "articlecompetence.scss";

.competences {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;

    margin-bottom: 5rem;

    @include breakpoint-min(480) {
        margin-bottom: 7rem;
    }

    @include breakpoint-min(640) {
        margin-bottom: 8rem;
    }

    @include breakpoint-min(768) {
        margin-bottom: 10rem;
    }

    @include breakpoint-min(1024) {
        margin-bottom: 12rem;
    }

    @include breakpoint-min(1200) {
        margin-bottom: 16rem;
    }

    & .logiciels {
        position: relative;

        display: flex;
        justify-content: center;
        width: 100%;

        & .competences__musique {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 1;

            width: 15%;
            max-width: 300px;

            transform: translateY(50%);
            rotate: 180deg;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .logiciels__inner {
            position: relative;
            z-index: 2;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            gap: .5rem;

            max-width: 800px;

            margin-top: 4rem;

            @include breakpoint-min(480) {
                width: 90%;
            }

            @include breakpoint-min(768) {
                margin-top: 5rem;
            }

            @include breakpoint-min(1024) {
                margin-top: 6rem;
            }


            &>div {
                width: 40px;

                @include breakpoint-min(768) {
                    width: 60px;
                }

                @include breakpoint-min(1024) {
                    width: 70px;
                }

                &>svg {
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }

    &>.competences_inner {
        position: relative;
        z-index: 5;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        width: 100%;
        max-width: 1500px;

        padding-inline: 1rem;

        @include breakpoint-min(480) {
            padding-inline: 2rem;
        }

        @include breakpoint-min(480) {
            gap: 3rem;
        }

        @include breakpoint-min(768) {
            gap: 4rem;
        }

        @include breakpoint-min(1024) {
            gap: 5rem;
        }

        @include breakpoint-min(1200) {
            gap: 6rem;
        }

        @include breakpoint-min(1400) {
            gap: 7rem;
        }

        & h3 {
            align-self: center;

            margin-bottom: 0.5rem;

            @include h3;

            @include breakpoint-min(480) {
                margin-bottom: 1rem;
            }

            @include breakpoint-min(768) {
                margin-bottom: 1.5rem;
            }

            @include breakpoint-min(1024) {
                margin-bottom: 2rem;
            }

            @include breakpoint-min(1200) {
                margin-bottom: 2.5rem;
            }

            @include breakpoint-min(1400) {
                margin-bottom: 3rem;
            }
        }
    }
}