@import "moitexte.scss";
@import "moiimg.scss";

.moi {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;

    margin-bottom: 5rem;

    @include breakpoint-min(480) {
        margin-bottom: 7rem;
    }

    @include breakpoint-min(640) {
        margin-bottom: 8rem;
    }

    @include breakpoint-min(768) {
        margin-bottom: 10rem;
    }

    @include breakpoint-min(1024) {
        margin-bottom: 12rem;
    }

    @include breakpoint-min(1200) {
        margin-bottom: 16rem;
    }

    & > .moi__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        max-width: 1500px;

        padding-inline: 1rem;

        @include breakpoint-min(480) {
            padding-inline: 2rem;
        }

        @include breakpoint-min(768) {
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 6rem;
        }


    }
    & > .moi_musique {
        display: none;

        position: absolute;
        left: 0;
        top: 50%;

        width: 15%;
        max-width: 300px;

        transform: translateY(-50%);

        @include breakpoint-min(768) {
            display: block;
        }

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
