.apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 80%;

    @include breakpoint-min(768) {
        width: 50%;
    }

    & h3 {
        @include h3;
    }

    & > h4 {
        margin-top: 0.2rem;

        @include h4;
    }

    & p {


        margin-top: 1rem;

        @include p;


        @include breakpoint-min(480) {
            margin-top: 1.5rem;
        }

        @include breakpoint-min(768) {
            margin-top: 2rem;
        }

        @include breakpoint-min(1024) {
            margin-top: 2.5rem;
        }

        @include breakpoint-min(1200) {
            margin-top: 3rem;
        }
    }

    & .apropos__boutons {
        & li {
            background-color: var(--blanc);
            box-shadow:
                0 0 0 2px var(--bleu),
                0 0 0 4px var(--rouge);
            & a {
                color: var(--rouge);
            }
        }
    }
}
