@mixin breakpoint-min($screen) {
  @media (min-width: #{$screen}px) {
    @content;
  }
}

@mixin h1 {
  font-family: "neulis-sans", sans-serif;
  font-weight: 900;
  font-size: 9.25rem;
}

@mixin h2 {
  font-family: "neulis-sans", sans-serif;
  font-size: 2.5rem;
  color: var(--blanc);

  @include breakpoint-min(480) {
    font-size: 3rem;
    font-weight: 500;
  }

  @include breakpoint-min(640) {
    font-size: 4.25rem;
  }

  @include breakpoint-min(768) {
    font-size: 5rem;
    font-weight: 600;
  }

  @include breakpoint-min(1024) {
    font-size: 7rem;
  }

  @include breakpoint-min(1200) {
    font-size: min(calc(2rem + 6vw), 10rem);
    font-weight: 700;
  }
}

@mixin h3 {
  font-family: "neulis-sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--blanc);

  @include breakpoint-min(480) {
    font-size: 2.5rem;
  }

  @include breakpoint-min(768) {
    font-size: 3rem;
  }

  @include breakpoint-min(1024) {
    font-size: 4rem;
  }

  @include breakpoint-min(1200) {
    font-size: 5rem;
  }
}

@mixin h4 {
  font-family: "neulis-sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--blanc);

  @include breakpoint-min(480) {
    font-size: 1.2rem;
  }

  @include breakpoint-min(768) {
    font-size: 1.4rem;
  }

  @include breakpoint-min(1024) {
    font-size: 1.6rem;
  }

  @include breakpoint-min(1200) {
    font-size: 1.8rem;
  }
}

@mixin p {
  position: relative;

  font-family: "neulis-sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--blanc);
  line-height: 1.1;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -1.5rem;

    width: 2px;
    height: 100px;

    background-color: var(--blanc);

    transform: translateY(-50%);
  }

  @include breakpoint-min(480) {
    font-size: 1rem;
  }

  @include breakpoint-min(768) {
    font-size: 1.2rem;
  }

  @include breakpoint-min(1024) {
    font-size: 1.4rem;
  }

  @include breakpoint-min(1200) {
    font-size: 1.6rem;
  }
}
@mixin psmaller {
  font-family: "neulis-sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
@mixin navbouton {
  font-family: "neulis-sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
