.footer__icones {
    grid-area: 2 / 3 / 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    & > .icones {
        display: flex;
        flex-direction: column;

        padding-inline: 10vw;

        border-left: 2px solid var(--blanc);

        @include breakpoint-min(768) {
            gap: 1rem;
        }

        @include breakpoint-min(1024) {
            gap: 2rem;
        }

        @include breakpoint-min(1200) {
            gap: 3rem;
        }

        & .gmail {
            position: relative;
            cursor: pointer;
            & span {
                position: absolute;
                
                bottom: 50%;
                left: calc(100% + 0.2rem);

                padding: 0 !important;
                margin: 0 !important;

                color: var(--rouge) !important;
                @include psmaller;
                text-align: center;

                transition: all 0.1s ease-in-out;
                transform: translateY(50%);

                @include breakpoint-min(640) {
                    left: calc(100% + 0.5rem);
                }

                @include breakpoint-min(768) {
                    left: calc(100% + 0.75rem);
                }

                @include breakpoint-min(1024) {
                    left: calc(100% + 1rem);
                }
            }
            & input {
                display: none;
            }
        }

        & > div {
            width: 32px;
            aspect-ratio: 1/1;

            @include breakpoint-min(480) {
                width: 40px;
            }

            @include breakpoint-min(768) {
                width: 48px;
            }

            @include breakpoint-min(1024) {
                width: 56px;
            }

            @include breakpoint-min(1200) {
                width: 72px;
            }

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
